.navBar {
  width: 100%;
  height: 100px;
  z-index: -1;
  background-color: #394538; /* Student Green */
  background-image: linear-gradient(#000000,#708090); /* Black, Slate Gray */
}

#menu {
  /*background-color:darkred;*/
  width:35px;
  height:35px;
  margin:30px 0 20px 20px;
  cursor:pointer;
  }
.bar {
  height: 5px;
  width: 100%;
  background-color:darkred;
  display:block;
  border-radius: 5px;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.change .bar{
  background-color: darkblue;
}

.change #bar1{
  transform: translateY(4px) rotatez(-90deg) translateX();
}

.change #bar2{
  transform: rotatez(90deg);
}

.change #bar3{
  transform: translateY(-6px) rotatez(90deg) translateX();
}
/*
h1  {
  text-align: center;
}

ul {
  position: absolute;
  top: 48px;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #8a0303;
}

li{
  float: left;
}

.button {
  border: none;
  color: #fff5ee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;

}
.button:hover {
  background-color: #3f0101;
  color: #fff5ee;
}
*/
