Body  {
  color: white;
  background-color: dimGray;
}

#menu {
  width:35px;
  height:35px;
  margin:10px 0 10px 11px;
  cursor:pointer;
  }

.bar  {
  height: 6px;
  width: 100%;
  display:block;
  border-radius: 5px;
}

#bar1 {
  background-color: tan;
  transform: translateY(1px);
}

#bar2 {
  background-color: limeGreen;
  transform: translateY(1px);
}

#bar3 {
  background-color: yellow;
  transform: translateY(1px);
}

#bar4 {
  background-color: darkred;
  transform: translateY(1.5px);
}

#bar5 {
  background-color: tan;
  transform: translateY(1px);
}

.nav li a {
  color: white;
  font-size: 19px;
  text-decoration: none;
}

.nav li a:hover {
  font-size: 21px;
  font-weight: bold;
}

.nav li {
  list-style: none;
  padding: 12px;
}

.nav  {
  padding: 0;
  margin:0 20px;
  transition: 0.3s ease;
  display:none;
}

.menuBg, #menuBar {
  top:0;
  left: 0;
  position: absolute;
}

.menuBg {
  z-index: 1;
  width: 0;
  height: 0;
  margin:10px 0 10px 11px;
  background: radial-gradient(circle,orange,darkOrange,red,red,darkRed,darkRed);
  border-radius: 50%;
  transition: 0.1s ease;
}

#menuBar  {
  z-index: 2;
}

.changeBg {
  width: 666px;
  height:666px;
  transform: translate(-60%,-30%);
}

.change .bar  {
  background-color: darkRed;
}

.change #bar1 {
  transform: translateX(11px) translateY(11px) rotatez(90deg);
}

.change #bar2 {
  transform: translateX(5.5px) translateY(5px) rotateZ(90deg);
}

.change #bar3 {
  transform: translateX(0px) translateY(-1px) rotatez(90deg);
}

.change #bar4 {
  transform: translateX(-6px) translateY(-7px) rotatez(90deg);
}

.change #bar5 {
  transform: translateX(-12px) translateY(-13px) rotatez(90deg);
}

.change {
  display: block;
}

.imgBurgerLogo {
  text-align: center;
  color: white;
}

.imgBurger {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px; /* Half the height */
  margin-left: -250px; /* Half the width */
  border-radius: 50%;
}

.lblBurger  {
  position: absolute;
  bottom: 12%;
  left: 40%;
}

.lbltxt {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 3px 3px black;
  font-size: 80px;
}

.proposal {
  text-align: left;
  font-size: 28px;
}

.lblPp  {
  position: absolute;
  bottom: 30%;
}

.burgerWP {
  background: url("../imgs/hamburgerClosed.png");
  border: 2px solid black;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
}
