body {
  background-color: #cccccc; /* Grey */
  background-image: linear-gradient(#cccccc,#555555); /* Gray, Black */
  margin: 20px;
  padding: 0;
  color: #fff5ee; /* Seashell */
  font-family: serif;
  max-width: 100%;
  min-width: 10%;
  max-height: 100%;
  min-height: 10%;
}

h1  {
  text-align: center;
}

ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li{
  float: left;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: #ffffff;/* White */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: #555555;/* Black */
  color: #ffffff;/* White */
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: #555555;} /* Gray;Black */
.button5 {background-color: #555555;} /* Black */
